<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-family: Arial, sans-serif;margin: 0;padding: 0;background-color: #f4f4f4; color: black">
    <div class="content" style="padding: 20px;">
        <p class="normal-text" style="font-size: 14px;line-height: 1.6;margin-top: 20px;">Quý khách {{user_name}} có một chuyến đi {{tripName}} từ ngày {{start_date}} đến {{end_date}}. Vào trang web để xem các nơi bạn đã lên lịch
        </p>
        <div class="signature" style="margin-top: 30px;text-align: right;font-weight: bold;">
            <p>Trân trọng,</p>
            <p>The Élégance</p>
        </div>
    </div>
</body>

</html>